<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>


  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P5ZCH5G');</script>
  <!-- End Google Tag Manager -->


  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="google-site-verification" content="sKLEglWUUXklpTKmUywqmaTGKyu9jF4GOKoZFgSE8Io" />
  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">


  <!-- CSS ================================================== -->
  {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
  {{ 'knowledge-coop.scss.css' | asset_url | stylesheet_tag }}
  <style>
  div#close_n {
      font-size: 50px;
  }
  </style>



  <style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',4000,
  {'GTM-MVFP6CP':true});</script>




  {{ 'custom.css' | asset_url | stylesheet_tag }}
  {{ 'kc-responsive.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}


  {{ 'knowledge-coop.js' | asset_url | script_tag }}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>




{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{% if template contains 'team' %}about-us{% else %}{{ page_title | handle }}{% endif %}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5ZCH5G"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->






  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MWD65TT"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div id="NavDrawer" class="drawer drawer--left">
    <div class="drawer__header">
      <div class="drawer__title h3">{{ 'layout.drawers.browse' | t }}</div>
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
        </button>
      </div>
    </div>
    <!-- begin mobile-nav -->
    <ul class="mobile-nav">
      <li class="mobile-nav__item mobile-nav__search">
        {% include 'search-bar' %}
      </li>
      {% for link in linklists.main-menu.links %}
        {% comment %}
          Create a dropdown menu by naming a linklist the same as a link in the parent nav

          More info on dropdowns:
            - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
        {% endcomment %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}" aria-haspopup="true">
            <div class="mobile-nav__has-sublist">
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
              <div class="mobile-nav__toggle">
                <button type="button" class="icon-fallback-text mobile-nav__toggle-open">
                  <span class="icon icon-plus" aria-hidden="true"></span>
                  <span class="fallback-text">See More</span>
                </button>
                <button type="button" class="icon-fallback-text mobile-nav__toggle-close">
                  <span class="icon icon-minus" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
                </button>
              </div>
            </div>
            <ul class="mobile-nav__sublist">
              {% for childlink in linklists[child_list_handle].links %}
                <li class="mobile-nav__item {% if childlink.active %} mobile-nav__item--active{% endif %}">
                  <a href="{{ childlink.url }}" class="mobile-nav__link">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
            <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% comment %}
        If customer accounts are enabled, provide login and create account links
      {% endcomment %}
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li class="mobile-nav__item">
            {% if customer.first_name != blank %}
              {% capture first_name %}{{ customer.first_name }}{% endcapture %}
              <a href="/account">{{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}</a>
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
          </li>
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          </li>
        {% else %}
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          </li>
          <li class="mobile-nav__item">
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          </li>
        {% endif %}
      {% endif %}

    </ul>
    <!-- //mobile-nav -->
  </div>
  {% if settings.ajax_cart_method == "drawer" %}
    <div id="CartDrawer" class="drawer drawer--right">
      <div class="drawer__header">
        <div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close js-drawer-close">
          <button type="button" class="icon-fallback-text">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
          </button>
        </div>
      </div>
      <div id="CartContainer"></div>
    </div>
  {% endif %}







  <div id="PageContainer" class="is-moved-by-drawer">
    <header class="site-header" role="banner">
      <div class="wrapper">

        <div class="grid">
          <div class="grid__item large--one-quarter">
            {% comment %}
              Use the uploaded logo from theme settings if enabled.
              Site name gets precedence with H1 tag on homepage, div on other pages.
            {% endcomment %}
            {% if template == 'index' %}
              <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
            {% else %}
              <div class="h1 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
              {% if settings.logo_use_image %}
                <a href="/" itemprop="url" class="site-header__logo-link">
                  <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                </a>
              {% else %}
                <a href="/" itemprop="url">{{ shop.name }}</a>
              {% endif %}
            {% if template == 'index' %}
              </h1>
            {% else %}
              </div>
            {% endif %}




            <div class="responsive-menu-container">
              <div class="responsive-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
              </div>
            </div>

          </div>

          <div class="grid__item large--three-quarters large--text-right">
            <div class="top-menu">
              <span>(800) 936-2128</span>

              <ul>
                <li>
                  <a href="{{ settings.social_fb_link }}" target="_blank">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="{{ settings.social_tw_link }}" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <!--<li> <a href="{{ settings.social_yt_link }}" target="_blank"> <i class="fa fa-youtube-play"></i> </a> </li>-->
                <li> <a href="https://www.youtube.com/channel/UCYZQRELKTZNrNt24Aj5PRsw" target="_blank"> <i class="fa fa-youtube-play"></i> </a> </li>
                <li>
                  <a href="{{ settings.social_ig_link }}" target="_blank">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="{{ settings.social_in_link }}" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>


                <li> <a href="https://plus.google.com/+TheKnowledgeCoopVancouver" target="_blank"> <i class="fa fa-google-plus"></i> </a> </li>

              </ul>
                 {% if customer %}
                <a href="/account">ORDERS</a>

                <a style="" href="https://ce.knowledgecoop.com/premium/" target="_blank">MY COURSES</a>
                <span style="display:none;"> {{ 'layout.customer.log_out' | t | customer_logout_link }}</span>
	             {% else %}
	              {{ 'LOGIN' | customer_login_link }}
               {% endif %}

              {% if cart.item_count > 0 %}<a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false"><span>CART {% if cart.item_count > 0 %}{{ cart.item_count }}{% endif %}</span></a>{% endif %}


            </div>
            <div class="main-nav">
              {% comment %}
                List out your main-menu linklist (default)

                More info on linklists:
                  - http://docs.shopify.com/themes/liquid-variables/linklists
              {% endcomment %}
              <!-- begin site-nav -->
              <ul class="site-nav" id="AccessibleNav">
                {% for link in linklists.main-menu.links %}
                  {% comment %}
                    Create a dropdown menu by naming a linklist the same as a link in the parent nav

                    More info on dropdowns:
                      - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                  {% endcomment %}
                  {% assign child_list_handle = link.title | handleize %}
                  {% if linklists[child_list_handle].links != blank %}
                    <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                      <a href="{{ link.url }}" class="site-nav__link">
                        {{ link.title }}
                        <span class="icon icon-arrow-down" aria-hidden="true"></span>
                      </a>
                      <ul class="site-nav__dropdowns">
                        {% for childlink in linklists[child_list_handle].links %}
                          <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                            <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li {% if link.active %}class="site-nav--active"{% endif %}>
                      <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>


        </div>

      </div>
    </header>



        <!-- Internet Explorer Notification -->
        <div class="row">
        <div id="ieNotif" class="notification" style="display:none;width: 90%; margin:auto; height: auto; border: solid 7px #33afc9; text-align: center; padding: 20px; background-color: rgb(244, 129, 2); color: #fff;"> <!-----><a onclick="hideNotif()"><span class="notif_close" style="float: right;font-size: 25px;"><i class="fa fa-times" aria-hidden="true"></i></span></a>
        <h3>Dear Internet Explorer User - Important Message </h3>
        <p>Some versions of Internet Explorer are not compatible with our shopping cart software. To ensure full functionality while on our site, please switch to one of our recommended browsers.</p>
        <a target="_blank" style="color: #fff;background-color: #d9534f;border-color: #d43f3a;" href="https://www.mozilla.org/en-US/firefox/" class="btn btn-danger"><i class="fa fa-firefox" aria-hidden="true"></i>
         Fire Fox</a> <span id="notif_sub">Or</span> <a target="_blank" style="color: #fff;background-color: #5cb85c;border-color: #4cae4c;" href="https://www.google.com/chrome/browser/desktop/index.html" class="btn btn-success"><i class="fa fa-chrome" aria-hidden="true"></i> Google Chrome</a>
        </div>
        <hr style="margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 1px solid rgba(238, 238, 238, 0);"/>
        </div>

        <!-- End Internet Explorer Notification -->


    <main class="main-content" role="main">

      {{ content_for_layout }}

    </main>

    <!-- begin site-footer -->
    <footer class="site-footer" role="contentinfo">
      <div class="wrapper">

        <div class="grid">

          <div class="grid__item large--one-whole medium--one-half">
            <h3>Ways We Help</h3>
            <div class="footer-nav">

              <!-- begin footer-nav -->
              <ul>
                {% for link in linklists.footer.links %}
                  {% comment %}
                    Create a dropdown menu by naming a linklist the same as a link in the parent nav

                    More info on dropdowns:
                      - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                  {% endcomment %}
                  {% assign child_list_handle = link.title | handleize %}
                  {% if linklists[child_list_handle].links != blank %}
                    <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                      <a href="{{ link.url }}" class="site-nav__link">
                        {{ link.title }}
                        <span class="icon icon-arrow-down" aria-hidden="true"></span>
                      </a>
                      <ul class="site-nav__dropdown">
                        {% for childlink in linklists[child_list_handle].links %}
                          <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                            <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li {% if link.active %}class="site-nav--active"{% endif %}>
                      <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>

            </div>
          </div>

          <div class="grid__item large--one-whole medium--one-half">
             <h3>Recent Posts</h3>



          	<!-- start feedwind code --> <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="32621/"></script> <!-- end feedwind code -->
          </div>

          <div class="grid__item large--one-whole medium--one-half">
            <h3>Connect</h3>
            <ul class="footer-social">
              <li>
                  <a href="{{ settings.social_fb_link }}" target="_blank">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="{{ settings.social_tw_link }}" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="{{ settings.social_yt_link }}" target="_blank">
                    <i class="fa fa-youtube-play"></i>
                  </a>
                </li>
                <li>
                  <a href="{{ settings.social_ig_link }}" target="_blank">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="{{ settings.social_in_link }}" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
                <li> <a href="https://plus.google.com/+TheKnowledgeCoopVancouver" target="_blank"> <i class="fa fa-google-plus"></i> </a> </li>
            </ul>
          </div>

          <div class="grid__item large--one-whole medium--one-half">
            <div class="footer-address">
              <h3>Contact Us</h3>
              <p>
                <span>Address:</span>
              1902 SE 6th ave <br/>Camas, WA 98607-8829
              </p>
              <p>
                <span>Email:</span>
                <a href="mailto:info@knowledgecoop.com">info@knowledgecoop.com</a>
              </p>
              <p>
                <span>Phone:</span>
                (360) 342-6176
              </p>
              <p>
                <span>Map:</span>
                <a href="https://www.google.com/maps/place/14707+NE+13th+Ct+a102,+Vancouver,+WA+98685/@45.7280862,-122.6601109,17z/data=!3m1!4b1!4m5!3m4!1s0x5495ad8de91ee3d9:0x3565d058926ee363!8m2!3d45.7280862!4d-122.6579222" target="_blank">View Map</a>
              </p>
            </div>
          </div>

        </div>

      </div>

      <!-- footer copyrights -->
      <div class="footer-legal">
        <span>Copyright 2008 - 2016</span>
        <a href="{{ shop.url }}">www.knowledgecoop.com</a>
        <a href="/pages/legal-stuff">Legal Stuff</a>
        <a> NMLS Course Provider #1400023</a>
      </div>

    </footer>
    <!-- //site-footer -->
  </div>

  {% comment %}
    List out your main-menu linklist (default)
 {{ 'fastclick.min.js' | asset_url | script_tag }}
    More info on linklists:
      - http://docs.shopify.com/themes/liquid-variables/linklists
  {% endcomment %}

  {{ 'timber.js' | asset_url | script_tag }}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>
{{ 'fastclick.min.js' | asset_url | script_tag }}

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '#CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
      });

      jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
        // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
    </script>
  {% endif %}
  {{ 'jquery.fancybox.pack.js' | asset_url | script_tag }}
   <script>
      $(document).ready(function() {
	$(".various").fancybox({
		maxWidth	: 800,
		maxHeight	: 600,
		fitToView	: false,
		width		: '70%',
		height		: '70%',
		autoSize	: false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none'
	});

  {% comment %}  $(".testimonial-container .wrapper").load("/blogs/testimonials/ .testiBoxWrap");     {% endcomment %}

});
    </script>

<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/2141168.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<!-- End of Async HubSpot Analytics Code -->
  <!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 877710089;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>



<!-- Internet Explorer Notification Script-->
<script>
function hideNotif() {
    $('#ieNotif').hide();
    var now = new Date();
    var time = now.getTime();
    var expireTime = time + 1000*3600;
    now.setTime(expireTime);
    var tempExp = 'Wed, 31 Oct 2012 08:50:17 GMT';
    document.cookie = 'seenIeNotif=true;expires='+now.toGMTString()+';path=/';
}

function detectIE() {
    var ua = window.navigator.userAgent;
    var msie = ua.indexOf('MSIE ');
    if (msie > 0) {
        // IE 10 or older => return version number
        return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
    }
    var trident = ua.indexOf('Trident/');
    if (trident > 0) {
        // IE 11 => return version number
        var rv = ua.indexOf('rv:');
        return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
    }
    var edge = ua.indexOf('Edge/');
    if (edge > 0) {
       // Edge (IE 12+) => return version number
       return parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
    }
    // other browser
    return false;
}

// Get the value of a cookie
function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

function CheckForNotif() {
    var ie = getCookie("seenIeNotif");
      if (detectIE()) { // If is IE
        if (ie == "") {
              $('#ieNotif').show();
           }
      }
}

CheckForNotif();

</script>

<!--END Internet Explorer Notification Script-->











<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/877710089/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
 </body>
</html>
