{% comment %}
<div class="about-head-background" style="background-image: url({{ pages.about-us.metafields.global.banner }});">
	<div class="wrapper">
		<h2 class="teamName">{{ page.title }}</h2>
	</div>
</div>
{% endcomment %}



<div class="wrapper">
  <br>
  <br>
  <div class="grid about-us-container">
    <div class="grid__item large--two-thirds medium--one-whole">

<div class="the-teams">
<div class="member-container text-center">
    <div class="tt-member">
        <div class="front">
            <img src="{{ page.metafields.global.teamImage }}" alt="">
        </div>
        <div class="back">
            <ul>
                {{ page.metafields.global.socialCode }}
            </ul>
        </div>
    </div>
    <h3>{{ page.title }}</h3>
    <h4>{{ page.metafields.global.teamPosition }}</h4>
    <h4>&nbsp;</h4>
</div>
</div>

    {{ page.content }}
    </div>
    <div class="grid__item large--one-third medium--one-whole sidebar">

<div class="addressSection">

<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2792.3789069510226!2d-122.388317!3d45.5829272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495bcf92aa428cb%3A0x2631c94a14f19def!2s1902+SE+6th+Ave%2C+Camas%2C+WA+98607!5e0!3m2!1sen!2sus!4v1501687406670" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></p>


  <p>
    <span>Address:</span>
		1902 SE 6th ave <br/>Camas, WA 98607-8829
  </p>
  <p>
    <span>Email:</span>
    <a href="mailto:info@knowledgecoop.com">info@knowledgecoop.com</a>
  </p>
  <p>
    <span>Phone:</span>
    (360) 342-6176
  </p>
  <p>
    <span>Map:</span>
    <a href="https://www.google.com/maps/place/14707+NE+13th+Ct+a102,+Vancouver,+WA+98685/@45.7280862,-122.6601109,17z/data=!3m1!4b1!4m5!3m4!1s0x5495ad8de91ee3d9:0x3565d058926ee363!8m2!3d45.7280862!4d-122.6579222" target="_blank">View Map</a>
  </p>

</div>



    </div>
  </div>
</div>

{% include 'subscribe' %}
