{{ 'bootstrap-grid.min.css' | asset_url | stylesheet_tag }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>


<div id="live-ce">



<div class="hero-image-live-ce live-ce-banner" style="box-shadow: 1px 2px 5px 2px #333;">
	<div class="hero-text-live-ce">
		<h1 style="">Like Magic, We Make CE Amazing! </h1>
	</div>
</div>





<div class="wrapper">



	<div class="live-ce-schedules">
		<div class="schedule-heading clearfix">
			<span>DATE</span>
			<span class="course">COURSE</span>
			<span style="padding-left: 0px;" >LOCATION</span>
			<span></span>
		</div>

		<div id="schedule-content-id" class="schedule-content">

	<!--http://stackoverflow.com/questions/6133723/sort-divs-in-jquery-based-on-attribute-data-sort-->

          {% for product in collections.live-ce.products  %}

            {% include 'plus_event_sorting', section: 'event_loop' %}

            <div id="live-content-id" class="live-content clearfix" data-date="{{ formatted_date }}">
              <span>{{ product.metafields.global.date }}</span>
              <span class="course">{{ product.title }}</span>
              <span style="text-align: center;">{{ product.metafields.global.location }}</span>
              <span>
                <a class="btn" href="{{ product.url | within: collection }}">Register Now</a>
              </span>
            </div>
          {% endfor %}
	</div>
	</div>
         <div class="rte">
    			</div>

					<div style="margin-bottom: 50px;">
							<blockquote>Classes with dates and venues still being confirmed.</blockquote>
								<div id="cc-live-ce-comming-soon" class="live-ce-schedules">
									<div class="schedule-heading clearfix">
										<span>DATE</span>
										<span class="course">COURSE</span>
										<span style="padding-left: 0px;" >LOCATION</span>
										<span></span>
									</div>

									<div class="schedule-content">

								<!--http://stackoverflow.com/questions/6133723/sort-divs-in-jquery-based-on-attribute-data-sort-->

													<div class="live-content clearfix" >
														<span>TBD</span>
														<span class="course" >Eugene,OR- 2018 8 Hour Live CE</span>
														<span style="text-align: center;">Eugene, OR</span>
														<span>
															<a id="" onclick="launchDialog(8805491149)" class="open-popup-link btn">Get Updates!</a>
														</span>
													</div>



													<div class="live-content clearfix" >
														<span>TBD</span>
														<span class="course" >Boise,ID- 2018 8 Hour Live CE</span>
														<span style="text-align: center;">Boise, ID</span>
														<span>
															<a id="" onclick="launchDialog(8814847309)" class="open-popup-link btn">Get Updates!</a>
														</span>
													</div>



													<div class="live-content clearfix" >
														<span>TBD</span>
														<span class="course" >Spokane,WA- 2018 8 Hour Live CE</span>
														<span style="text-align: center;">Spokane, WA</span>
														<span>
															<a id="" onclick="launchDialog(8804957709)" class="open-popup-link btn">Get Updates!</a>
														</span>
													</div>


													<div class="live-content clearfix" >
														<span>TBD</span>
														<span class="course" >Wilsonville, OR - 2018 8 Hour Live CE (B)</span>
														<span style="text-align: center;">Wilsonville, OR</span>
														<span>
															<a id="" onclick="launchDialog(9050793421)" class="open-popup-link btn">Get Updates!</a>
														</span>
													</div>

													<div class="live-content clearfix" >
														<span>TBD</span>
														<span class="course" >Wilsonville, OR - 2018 8 Hour Live CE (C)</span>
														<span style="text-align: center;">Wilsonville, OR</span>
														<span>
															<a id="" onclick="launchDialog(9050807757)" class="open-popup-link btn">Get Updates!</a>
														</span>
													</div>



							    </div>

							</div>

					</div>





<script>

// A $( document ).ready() block.
$( document ).ready(function() {
$("#cc__fancy_notification > div > div > div.body").html('<div class="text"><form id="contact_form" class="form-inline" action="" method="post"><div class="form-group mx-sm-3 mb-2"><label for="inputPassword2" class="sr-only">Email</label><input name="email_home" type="email" class="form-control" id="email_1" placeholder="abc@xyz.com" required="required"><input id="eventId" type="hidden" name="event" value=""></div><button type="submit" class="btn btn-primary mb-2">Subscribe</button></form><a id="cc__closebutton" href="#" style=""><span>CLOSE</span></a></div>');



///////////Closing Notif///////////
//Close svg X
$('#cc__fancy_notification .overlay .cc__notif__modal .title svg,#cc__closebutton,#cc__cartbutton').click(function(){
     $('#cc__fancy_notification').css('pointer-events','none');
     $('.cc__notif__modal').addClass('fade');

     setTimeout(function(){
       $('.overlay').removeClass('is-active');
       $('.cc__notif__modal').removeClass('fade');
     }, 600);
});



});




function launchDialog(a) {
	$("#eventId").val(a);
		$('#cc__fancy_notification').css('pointer-events','all');
	  $('.overlay').addClass('is-active');
}



// Wait for the DOM to be ready
$(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("#contact_form").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
      email: {
        required: true,
        // Specify that email should be validated
        // by the built-in "email" rule
        email: true
      },

    },
    // Specify validation error messages
    messages: {
      email: "Please enter a valid email address"
    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    submitHandler: function(form) {
	// formInstance = $(form.target);

		d = $("#contact_form").serialize();


		$.post("https://form.knowledgecoop.com/api/form-process/livece",d, function(data, status){


				$('#cc__fancy_notification').css('pointer-events','none');
				$('.cc__notif__modal').addClass('fade');

				setTimeout(function(){
					$('.overlay').removeClass('is-active');
					$('.cc__notif__modal').removeClass('fade');
				}, 600);

console.log("Data: " + data + "\nStatus: " + status); 

		});

      return false;

    }
  });
});



</script>







<div style="margin: 0 auto;">
<h2 style="text-align: center;">Do you want our live CE to come to your town? <br/>Submit your postal code and email to let us know.</h2>

<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
    css: '',
    portalId: '2141168',
    formId: 'd3efdc2a-afd2-45d3-9083-22eda697c46a'
  });
</script>
<div>



<hr/>
    {{ page.content | split: '<!-- split -->' | last }}




		</div>
	</div>

</div> <!--End wrapper-->

</div>

{% include 'subscribe' %}
<script>
$(document).ready(function() {
	$('body').attr('id', 'live-ce')
});
</script>
{% include 'plus_event_sorting', section: 'footer' %}
